@import "variables";
@import "nullify";
@import "mixins";

body {
  background-color: #f6f6f6;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 675px;
  margin: 0 auto;
  padding: 20px 0;
}

// .auth-wrapper {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 30px;
// }

.header-container {
  @include component-container($topBottom: 20px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  flex-direction: column;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  position: relative;
}

.profile-logo-container {
  display: flex;
  margin-top: 20px;
}

.profile-logo-image {
  width: 50px;
  height: 50px;
  background-image: url("../images/profile.svg");
  background-size: cover;
}

.profile-email {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-btn {
  margin-top: 20px;
  & > button {
    height: 44px;
    width: 160px;
  }
}

.btn {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
  }
}

.form-container,
.lock-container {
  @include component-container;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-container {
  margin-bottom: 20px;
  display: inline-flex;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

input {
  font-size: 16px;
  border: 2px solid gray;
  width: 100%;
  color: black;
  height: 44px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

input.error {
  border-color: red;
}

input:hover {
  border-color: #455eb5;
}

.validations-error {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 2px;
}

.popup-container {
  position: absolute;
  top: -20px;
  left: 150px;
  z-index: 2;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(2, 170, 176, 0.2),
    rgba(0, 205, 172, 0.2)
  );
  padding: 10px;
  transition: all 0.5s;
}

.download-not-allowed {
  width: 300px;
  height: 300px;
  background-image: url("../images/lock1.svg");
  background-size: cover;
}

@media (min-width: 768px) {
  .btn {
    padding: 0 2.6rem;
  }
}
